
.ai-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaf0f4; /* Light grey/blue background */
    padding: 0; /* No padding around the block */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */

}

.ai-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 60px 0 30px;
}

.ai-button > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Ensure child elements are centered horizontally */
    width: 100%;
}

.ai-button h4 {
    display: none; /* Hide the heading */
}

.ai-button .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ai-button .button-container .button {
    background-color: #00607D; /* Button color */
    color: white; /* Text color */
    padding: 10px 15px;
    border: none; /* Remove default border */
    font-size: 16px; /* Font size */
    text-align: center; /* Center text */
    cursor: pointer; /* Cursor changes to pointer on hover */
    text-decoration: none; /* Remove underline from link */
    font-family: "Montserrat", sans-serif !important;
    border-radius: 15px;
    -webkit-transition: .35s ease-in-out all;
}
