footer {
  background-color: #4C4D4F;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
  }
}
