
.ai-banner-wrapper {
  width: 100%;
}

.ai-banner {
  background-color: #c0d8e4; /* light blue color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* adjust height to match original more closely */
}

.ai-banner > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ai-banner h3 {
  font-size: 36px; /* adjust font size as needed */
  color: #606060; /* slightly lighter gray color */
  font-weight: 100; /* adjust font weight as needed */
  line-height: 1.1;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
